Repository cap-js/cds-dbs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danjoa, @johannes-vogel, @stewsk, @patricebender, @BobdenOs, @gregorwolf, @sebastianesch, @vobu

.github/CODEOWNERS:

# Product owner own everything

** @danjoa @johannes-vogel @stewsk

db-service/lib/cqn4sql.js @patricebender @danjoa @johannes-vogel @stewsk
db-service/test/cqn4sql/ @patricebender @danjoa @johannes-vogel @stewsk

db-service/lib/infer/**.js @patricebender @danjoa @johannes-vogel @stewsk
db-service/test/cds-infer/ @patricebender @danjoa @johannes-vogel @stewsk

db-service/lib/InsertResults.js @BobdenOs @danjoa @johannes-vogel @stewsk
db-service/lib/converters.d.ts @BobdenOs @danjoa @johannes-vogel @stewsk
db-service/lib/SQLService.js @BobdenOs @danjoa @johannes-vogel @stewsk
db-service/lib/converters.js @BobdenOs @danjoa @johannes-vogel @stewsk
db-service/lib/cql-functions.js @BobdenOs @danjoa @johannes-vogel @stewsk
db-service/lib/cqn2sql.js @BobdenOs @danjoa @johannes-vogel @stewsk
db-service/lib/deep-queries.js @BobdenOs @danjoa @johannes-vogel @stewsk
db-service/lib/fill-in-keys.js @BobdenOs @danjoa @johannes-vogel @stewsk

db-service/test/cqn2sql/** @BobdenOs @danjoa @johannes-vogel @stewsk
db-service/test/deep/**.js @BobdenOs @danjoa @johannes-vogel @stewsk
db-service/test/etc/**.js @BobdenOs @danjoa @johannes-vogel @stewsk
db-service/test/tsc/**.js @BobdenOs @danjoa @johannes-vogel @stewsk
db-service/test/index.js @BobdenOs @danjoa @johannes-vogel @stewsk

sqlite/ @BobdenOs @patricebender @danjoa @johannes-vogel @stewsk
hana/ @BobdenOs @danjoa @johannes-vogel @stewsk
postgres/ @BobdenOs @patricebender @gregorwolf @sebastianesch @vobu @danjoa @johannes-vogel @stewsk

.github/ @BobdenOs @patricebender @danjoa @johannes-vogel @stewsk

chore(hana): remove unused variable warnings
  hana/lib/HANAService.js
  hana/lib/drivers/hdb.js
Owners: @BobdenOs, @danjoa, @johannes-vogel, @stewsk

ignore rule instead
  hana/lib/HANAService.js
Owners: @BobdenOs, @danjoa, @johannes-vogel, @stewsk

Update strictMode.test.js
  test/scenarios/bookshop/strictMode.test.js
Owners: @danjoa, @johannes-vogel, @stewsk

test: remove accidental (?) .only
  sqlite/test/deep/deepInputProcessing.test.js
Owners: @BobdenOs, @patricebender, @danjoa, @johannes-vogel, @stewsk

move test to general
  db-service/lib/SQLService.js
  hana/test/strictMode.test.js
  postgres/test/strictMode.test.js
  sqlite/test/general/strictMode.test.js
  test/scenarios/bookshop/index.js
Owners: @BobdenOs, @danjoa, @johannes-vogel, @stewsk, @patricebender, @gregorwolf, @sebastianesch, @vobu

test: remove accidental (?) .only (#386)
  sqlite/test/deep/deepInputProcessing.test.js
Owners: @BobdenOs, @patricebender, @danjoa, @johannes-vogel, @stewsk
