Repository cap-js/cds-dbs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BobdenOs, @David-Kunz, @patricebender, @danjoa, @gregorwolf, @johannes-vogel, @vobu, @stewsk, @sebastianesch, @sjvans

.github/CODEOWNERS:

* @BobdenOs @David-Kunz @patricebender @danjoa @gregorwolf @johannes-vogel @vobu @stewsk @sebastianesch @sjvans

db-service/lib/cqn4sql.js @patricebender @stewsk
db-service/test/cqn4sql/ @patricebender @stewsk

db-service/lib/infer/**.js @patricebender @stewsk
db-service/test/cds-infer/ @patricebender @stewsk

db-service/lib/InsertResults.js @BobdenOs @johannes-vogel @danjoa
db-service/lib/SQLService.js @BobdenOs @johannes-vogel @danjoa
db-service/lib/converters.js @BobdenOs @johannes-vogel @danjoa
db-service/lib/cql-functions.js @BobdenOs @johannes-vogel @danjoa
db-service/lib/cqn2sql.js @BobdenOs @johannes-vogel @danjoa
db-service/lib/deep-queries.js @BobdenOs @johannes-vogel @danjoa
db-service/lib/fill-in-keys.js @BobdenOs @johannes-vogel @danjoa

db-service/test/cqn2sql/**.js @BobdenOs @johannes-vogel @danjoa
db-service/test/deep/**.js @BobdenOs @johannes-vogel @danjoa
db-service/test/etc/**.js @BobdenOs @johannes-vogel @danjoa
db-service/test/tsc/**.js @BobdenOs @johannes-vogel @danjoa
db-service/test/index.js @BobdenOs @johannes-vogel @danjoa

Use session_context() with literals ... instead of binding parameters
  db-service/lib/cql-functions.js
  postgres/lib/func.js
Owners: @BobdenOs, @johannes-vogel, @danjoa, @David-Kunz, @patricebender, @gregorwolf, @vobu, @stewsk, @sebastianesch, @sjvans

Apply input converters before managed coalesce
  db-service/lib/cqn2sql.js
Owners: @BobdenOs, @johannes-vogel, @danjoa

Support pseudo variables everywhere
  db-service/lib/cqn2sql.js
Owners: @BobdenOs, @johannes-vogel, @danjoa

cosmetics
  db-service/lib/cqn2sql.js
Owners: @BobdenOs, @johannes-vogel, @danjoa

Make current_setting($now) a timestamp type
  postgres/lib/func.js
Owners: @BobdenOs, @David-Kunz, @patricebender, @danjoa, @gregorwolf, @johannes-vogel, @vobu, @stewsk, @sebastianesch, @sjvans

sqlite/pg: Add smart quotation test (#190)
  db-service/lib/cqn4sql.js
  db-service/test/cqn4sql/table-alias.test.js
  sqlite/lib/ReservedWords.json
  test/scenarios/bookshop/read.test.js
Owners: @patricebender, @stewsk, @BobdenOs, @David-Kunz, @danjoa, @gregorwolf, @johannes-vogel, @vobu, @sebastianesch, @sjvans

Fragile xtra condition for streaming in PostgreSQL
  INSERT INTO.sql
  db-service/lib/cqn2sql.js
  postgres/log1
  postgres/log2
Owners: @BobdenOs, @David-Kunz, @patricebender, @danjoa, @gregorwolf, @johannes-vogel, @vobu, @stewsk, @sebastianesch, @sjvans

cqn2sql: dont forget to wrap `xpr`in parens
  db-service/test/cqn2sql/__snapshots__/expression.test.js.snap
  db-service/test/cqn2sql/expression.test.js
Owners: @BobdenOs, @David-Kunz, @patricebender, @danjoa, @gregorwolf, @johannes-vogel, @vobu, @stewsk, @sebastianesch, @sjvans

Fix duplicated impl of HAHA cqn2sql.val()
  hana/lib/HANAService.js
Owners: @BobdenOs, @David-Kunz, @patricebender, @danjoa, @gregorwolf, @johannes-vogel, @vobu, @stewsk, @sebastianesch, @sjvans

Update db-service/lib/cqn2sql.js
  db-service/lib/cqn2sql.js
Owners: @BobdenOs, @johannes-vogel, @danjoa

Inline known session variables (#188)
  db-service/lib/cql-functions.js
Owners: @BobdenOs, @johannes-vogel, @danjoa

Add xpr wrapper in expr
  db-service/lib/cqn2sql.js
Owners: @BobdenOs, @johannes-vogel, @danjoa

Update snapshots
  db-service/test/cqn2sql/__snapshots__/expression.test.js.snap
  db-service/test/cqn2sql/__snapshots__/function.test.js.snap
  db-service/test/cqn2sql/__snapshots__/select.test.js.snap
  db-service/test/cqn2sql/__snapshots__/update.test.js.snap
Owners: @BobdenOs, @David-Kunz, @patricebender, @danjoa, @gregorwolf, @johannes-vogel, @vobu, @stewsk, @sebastianesch, @sjvans

Account for count distinct xpr
  db-service/lib/cql-functions.js
Owners: @BobdenOs, @johannes-vogel, @danjoa

Update HANA count function
  hana/lib/cql-functions.js
Owners: @BobdenOs, @David-Kunz, @patricebender, @danjoa, @gregorwolf, @johannes-vogel, @vobu, @stewsk, @sebastianesch, @sjvans

Fix generic.virtual.test.js
  db-service/lib/SQLService.js
  sqlite/lib/SQLiteService.js
Owners: @BobdenOs, @johannes-vogel, @danjoa, @David-Kunz, @patricebender, @gregorwolf, @vobu, @stewsk, @sebastianesch, @sjvans

Restored by-passing binding params
  db-service/lib/cqn2sql.js
  hana/lib/HANAService.js
Owners: @BobdenOs, @johannes-vogel, @danjoa, @David-Kunz, @patricebender, @gregorwolf, @vobu, @stewsk, @sebastianesch, @sjvans

Update postgres/lib/func.js
  postgres/lib/func.js
Owners: @BobdenOs, @David-Kunz, @patricebender, @danjoa, @gregorwolf, @johannes-vogel, @vobu, @stewsk, @sebastianesch, @sjvans

.
  db-service/lib/cql-functions.js
Owners: @BobdenOs, @johannes-vogel, @danjoa
