Repository cap-js/cds-dbs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danjoa, @johannes-vogel, @stewsk, @patricebender, @BobdenOs, @gregorwolf, @sebastianesch, @vobu

.github/CODEOWNERS:

### Product owner own everything
* @danjoa @johannes-vogel @stewsk

db-service/lib/cqn4sql.js @patricebender
db-service/test/cqn4sql/ @patricebender

db-service/lib/infer/**.js @patricebender
db-service/test/cds-infer/ @patricebender

db-service/lib/InsertResults.js @BobdenOs
db-service/lib/converters.d.ts @BobdenOs
db-service/lib/SQLService.js @BobdenOs
db-service/lib/converters.js @BobdenOs
db-service/lib/cql-functions.js @BobdenOs
db-service/lib/cqn2sql.js @BobdenOs
db-service/lib/deep-queries.js @BobdenOs
db-service/lib/fill-in-keys.js @BobdenOs

db-service/test/cqn2sql/** @BobdenOs
db-service/test/deep/**.js @BobdenOs
db-service/test/etc/**.js @BobdenOs
db-service/test/tsc/**.js @BobdenOs
db-service/test/index.js @BobdenOs

sqlite/ @BobdenOs @patricebender
postgres/ @BobdenOs @patricebender @gregorwolf @sebastianesch @vobu

calculated elements: enable test which required compiler@4.1
  db-service/test/bookshop/db/booksWithExpr.cds
  db-service/test/cqn4sql/calculated-elements.test.js
Owners: @danjoa, @johannes-vogel, @stewsk, @patricebender

infer: remove duplicated test
  db-service/test/cds-infer/negative.test.js
  db-service/test/cqn4sql/flattening.test.js
Owners: @patricebender

calculated elements: fix joins for function args
  db-service/test/bookshop/db/booksWithExpr.cds
  db-service/test/cqn4sql/calculated-elements.test.js
Owners: @danjoa, @johannes-vogel, @stewsk, @patricebender

fix: better-sqlite3@8.6.0 (#210)
  db-service/lib/cqn2sql.js
  package-lock.json
  test/compliance/SELECT.test.js
Owners: @BobdenOs, @danjoa, @johannes-vogel, @stewsk

1.2.1 in package.json
  db-service/package.json
  package.json
  postgres/package.json
  sqlite/package.json
Owners: @danjoa, @johannes-vogel, @stewsk, @BobdenOs, @patricebender, @gregorwolf, @sebastianesch, @vobu

add changelogs
  db-service/CHANGELOG.md
  postgres/CHANGELOG.md
  sqlite/CHANGELOG.md
Owners: @danjoa, @johannes-vogel, @stewsk, @BobdenOs, @patricebender, @gregorwolf, @sebastianesch, @vobu

prepare hotfix 1.2.1 (#225)
  db-service/CHANGELOG.md
  db-service/package.json
  package.json
  postgres/CHANGELOG.md
  postgres/package.json
  sqlite/CHANGELOG.md
  sqlite/package.json
Owners: @danjoa, @johannes-vogel, @stewsk, @BobdenOs, @patricebender, @gregorwolf, @sebastianesch, @vobu

fix deep delete - etag handling adds additional where clause (#214)
  db-service/lib/SQLService.js
  test/scenarios/bookshop/delete.test.js
  test/scenarios/bookshop/index.js
Owners: @BobdenOs, @danjoa, @johannes-vogel, @stewsk

Adjust depth tracking
  db-service/lib/SQLService.js
Owners: @BobdenOs

properly merge function args into join tree
  db-service/lib/infer/index.js
  db-service/test/cqn4sql/calculated-elements.test.js
Owners: @patricebender
